<%= section type, class: type do |s| %>
  <% s.title class: 'title' do %><%= type.to_s.capitalize %><% end %>
  <% s.content class: 'content' do %>
    <%= f.fields_for type do |dish| %>
      <%= dish.label :name, "#{type.to_s.capitalize} Name" %>
      <%= dish.text_field :name %>
      <label>Ingredients</label>
      <div class="ingredients">
        <div class="ingredient_template">
          <%= meal_fields_for "meal[#{type}_attributes][ingredients_attributes][$IDX$]", Ingredient.new do |ing| %>
            <div class="ingredient">
              <div class="amount_field"><%= ing.text_field :amount, disabled: true %></div>
              <div class="unit_field"><%= ing.unit_field :unit, disabled: true %></div>
              <div class="description_field"><%= ing.text_field :description, disabled: true %></div>
            </div>
          <% end %>
        </div>
        <%= dish.fields_for :ingredients do |ing| %>
          <div class="ingredient">
            <div class="amount_field"><%= ing.text_field :amount %></div>
            <div class="unit_field"><%= ing.unit_field %></div>
            <div class="description_field"><%= ing.text_field :description %></div>
          </div>
        <% end %>
      </div>
      <button class="add_ingredient small">Add Ingredient</button>
      <%= dish.label :instructions, "Instructions" %>
      <%= dish.text_area :instructions %>
    <% end %>
  <% end %>
<% end %>
