= section type, class: type do |s|
  - s.title class: 'title' do
    = type.to_s.capitalize
  - s.content class: 'content' do
    = f.fields_for type do |dish|
      = dish.label :name, "#{type.to_s.capitalize} Name"
      = dish.text_field :name
      %label Ingredients
      .ingredients
        .ingredient_template
          = meal_fields_for "meal[#{type}_attributes][ingredients_attributes][$IDX$]", Ingredient.new do |ing|
            = render partial: 'ingredient_form', locals: {ing: ing, disabled: true}
        = dish.fields_for :ingredients do |ing|
          = render partial: 'ingredient_form', locals: {ing: ing, disabled: false}
      %button.add_ingredient.small.button Add Ingredient
      = dish.label :instructions, "Instructions"
      ~ dish.text_area :instructions
