<header id="edit_meal_header">
  <div>
    <h2>Edit this Meal</h2>
  </div>
</header>

<article id="edit_meal">
  <%= meal_form_for meal_form, url: meal_url(meal_form.meal), method: :put, html: {class: 'custom'} do |f| %>
    <div class="row">
      <aside class="side_fields">
        <div class="row">
          <%= f.label :rating, "Rating", class: 'inline column large-3' %>
          <%= f.range_field :rating, step: 1, min: 0, max: 5 %>
        </div>
        <fieldset>
          <legend>Flags</legend>
          <%= f.flag_fields %>
        </fieldset>
        <fieldset>
          <legend>Times</legend>
          <%= f.label :prep_time, "Prep Time" %>
          <%= f.time_fields :prep %>
          <%= f.label :cook_time, "Cook Time" %>
          <%= f.time_fields :cook %>
          <%= f.label :total_time, "Total Time" %>
          <%= f.time_fields :total %>
        </fieldset>
      </aside>
      <section class="recipe_content">
        <div data-section="auto">
          <%= render partial: 'dish_form', locals: {type: :entree, f: f} %>
          <%= render partial: 'dish_form', locals: {type: :side, f: f} %>
        </div>
      </section>
    </div>
    <%= f.submit "Save Meal Changes" %>
  <% end %>
</article>
