<header id="meal_header">
  <div>
    <h2>Edit this Meal</h2>
  </div>
</header>

<article id="edit_meal">
  <%= form_for meal_form, url: meal_url(meal_form.meal), method: :put, as: :meal do |f| %>
    <div class="row">
      <aside class="side_fields">
        <div class="row">
          <%= f.label :rating, "Rating", class: 'inline column large-3' %>
          <%= f.range_field :rating, step: 1, min: 0, max: 5 %>
          <div class="rateit" data-rateit-backingfld="#meal_rating"></div>
        </div>
        <fieldset>
          <legend>Flags</legend>
          <% meal_flags.each do |desc, name| %>
            <%= flag_field desc, name %>
          <% end %>
        </fieldset>
        <fieldset>
          <legend>Times</legend>
          <%= f.label :prep_time, "Prep Time" %>
          <%= time_fields f, :prep %>
          <%= f.label :cook_time, "Cook Time" %>
          <%= time_fields f, :cook %>
          <%= f.label :total_time, "Total Time" %>
          <%= time_fields f, :total %>
        </fieldset>
      </aside>
      <section class="recipe_content">
        <div data-section="auto">
          <section class="entree">
            <p class="title" data-section-title><a href="#entree">Entree</a></p>
            <div class="content" data-slug="entree" data-section-content>
              <%= f.label :entree_name, "Entree Name" %>
              <%= f.text_field :entree_name %>
              <%= f.label :entree_instructions, "Instructions" %>
              <%= f.text_area :entree_instructions %>
            </div>
          </section>
          <section class="side">
            <p class="title" data-section-title><a href="#side">Side</a></p>
            <div class="content" data-slug="side" data-section-content>
              <%= f.label :side_name, "Side Name" %>
              <%= f.text_field :side_name %>
              <%= f.label :side_instructions, "Instructions" %>
              <%= f.text_area :side_instructions %>
            </div>
          </section>
        </div>
      </section>
    </div>
    <%= f.submit "Save Meal Changes" %>
  <% end %>
</article>
