.row
  %section#meals
    .row
      .column.large-5
        %h2 Your Saved Meals
      = form_tag meals_url, method: :get, id: "search" do
        .column.large-1
          %label.inline(for="q") Search
        .column.large-4
          = text_field_tag :q, params[:q]
        .column.large-1
          %button.small Search
        .column.large-1
    - if meals.empty?
      %p= no_results_message
    - else
      %table#meals_list
        %thead
          %th Rating
          %th Entree
          %th Side Dish
          %th.options Options
        %tbody
          - meals.each do |meal|
            %tr
              %td
                .rateit{data: {rateit_value: meal.rating, rateit_readonly: "true"}}
              %td= link_to meal.entree.name, meal_url(meal)
              %td= link_to meal.side.name, meal_url(meal)
              %td.options
                %ul.button-group
                  %li= link_to icon(:edit), edit_meal_url(meal)
                  %li= link_to icon(:remove), meal_url(meal), method: :delete, data: {confirm: "Are you sure you want to delete this meal?"}
      = will_paginate meals

.row
  %section#upload_form
    %h3 Upload a Menu
    = form_tag upload_meals_url, multipart: true do
      = file_field_tag :menu
      = submit_tag "Upload"
