<h1>Meals</h1>

<% if meals.empty? %>
  <p>You haven't uploaded any meals!</p>
<% end %>

<% meals.each do |meal| %>
  <p><%= meal.entree_name %> - <%= meal.side_name %></p>
<% end %>

<h2>Upload a Menu</h2>

<%= form_tag upload_meals_url, multipart: true do %>
  <%= file_field_tag :menu %>
  <%= submit_tag "Upload" %>
<% end %>