<div class="row">
  <section id="meals">
    <h2>Your Saved Meals</h2>

    <% if meals.empty? %>
      <p>You haven't uploaded any meals!</p>
    <% else %>
      <table>
        <thead>
        <th>Entree</th>
        <th>Side Dish</th>
        <th class="options">Options</th>
        </thead>
        <tbody>
        <% meals.each do |meal| %>
          <tr>
            <td><%= link_to meal.entree.name, meal_url(meal) %></td>
            <td><%= link_to meal.side.name, meal_url(meal) %></td>
            <td class="options">
              <ul class="button-group">
                <li><%= button_to "Edit", edit_meal_url(meal), method: 'get' %></li>
                <li><%= button_to "Delete", meal_url(meal), method: 'delete' %></li>
              </ul>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </section>
</div>

<div class="row">
  <section id="upload_form">
    <h3>Upload a Menu</h3>

    <%= form_tag upload_meals_url, multipart: true do %>
      <%= file_field_tag :menu %>
      <%= submit_tag "Upload" %>
    <% end %>
  </section>
</div>
