
<div class="row">
  <section id="meals">
    <h2>Your Saved Meals</h2>

    <div class="row">
      <%= form_tag meals_url, method: :get do %>
        <div class="column large-1"><label class="inline" for="q">Search</label></div>
        <div class="column large-4"><%= text_field_tag :q, params[:q] %></div>
        <div class="column large-1"><button class="small">Search</button></div>
        <div class="column large-6"></div>
      <% end %>
    </div>

    <% if meals.empty? %>
      <p>You haven't uploaded any meals!</p>
    <% else %>
      <table id="meals_list">
        <thead>
        <th>Rating</th>
        <th>Entree</th>
        <th>Side Dish</th>
        <th class="options">Options</th>
        </thead>
        <tbody>
        <% meals.each do |meal| %>
          <tr>
            <td><div class="rateit" data-rateit-value="<%= meal.rating %>" data-rateit-readonly="true"></div></td>
            <td><%= link_to meal.entree.name, meal_url(meal) %></td>
            <td><%= link_to meal.side.name, meal_url(meal) %></td>
            <td class="options">
              <ul class="button-group">
                <li><%= button_to "Edit", edit_meal_url(meal), method: 'get' %></li>
                <li><%= button_to "Delete", meal_url(meal), method: 'delete', data: {confirm: "Are you sure you want to delete this meal?"} %></li>
              </ul>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </section>
</div>

<div class="row">
  <section id="upload_form">
    <h3>Upload a Menu</h3>

    <%= form_tag upload_meals_url, multipart: true do %>
      <%= file_field_tag :menu %>
      <%= submit_tag "Upload" %>
    <% end %>
  </section>
</div>
