<header id="meal_header">
  <div>
    <h2><%= meal.entree.name %></h2>
    <h3 class="subheader"><%= meal.side.name %></h3>
  </div>
</header>

<section id="meal_content">
  <aside>
    <%= form_tag rate_meal_url(meal), method: :patch, remote: true, class: 'rate_meal' do %>
      <div class="message"></div>
      <label for="meal_rating" class="inline column large-3">Rating</label>
      <input type="range" name="rating" step="1" min="0" max="5" value="<%= meal.rating %>" id="meal_rating">
      <div class="autosubmit rateit" data-rateit-backingfld="#meal_rating"></div>
    <% end %>

    <% unless meal.flags.empty? %>
      <div class="meal_flag">
        <%= show_flags meal %>
      </div>
    <% end %>

    <ul class="meal_times">
      <li class="total_time">Total Time: <%= meal.total_time %></li>
      <li class="prep_time">Prep Time: <%= meal.prep_time %></li>
      <li class="cook_time">Cook Time: <%= meal.cook_time %></li>
    </ul>
  </aside>

  <article>
    <div class="recipe-container" data-section="tabs">
      <%= render partial: 'dish', locals: {dish: meal.entree, type: 'entree'} %>
      <%= render partial: 'dish', locals: {dish: meal.side, type: 'side'} %>
    </div>
  </article>
</section>
